Library
Logs
obj
Temp
Screenshot
UserSettings
.vsconfig
abi.keystore
AlmostEngine.csproj
AlmostEngine.ExcludeFromBuildTool.Editor.csproj
AlmostEngine.Shared.csproj
*.csproj
fbg.log
Idle-Burger.sln
*.sln
README.md
remote_config_data
